html, body{
  color: black;
  margin: 0px;
  
  font-family: 'Quicksand', Calibri;
}

.headerBackground{
  background-image: url("headerBackground.jpeg");
  background-size: cover;
  padding: 0px;
  
  box-shadow: 0px 10px 10px gray;
}

.titleHeader{
  backdrop-filter: blur(3px);
  padding: 20px;
  color: white;
}

.titleHeader > *{
  color: white;
}

.mainContent{
  padding: 20px;
}

.indentElement{
  margin-left: 20px;
}

.icon{
  width: 30px;
  display: inline;
}

.logo{
  width: 80px;
  //display: ;
}

.partButton{
  border-radius: 5px;
  outline: 2px solid lightgray;
  background-color: white;
  display: inline-block;
  
  box-shadow: 2px 2px 5px gray;
  
  transition-duration: 0.1s;
}

.partButton:hover{
  box-shadow: 0px 0px 0px gray;
}

.partButton:active{
  background-color: lightgray;
}


.centerTextVert{
  display: flex;
  align-items: center;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.codeExample{
  border-radius: 5px;
  border: 2px solid lightgray;
  display: inline-block;
}

